<div class="shrimp-listing">
  <ik-image class="shrimp-image" src={{image}}></ik-image>
  <div class="shrimp-name">
    {{name}}
  </div>
</div>

<form #editShrimpForm="ngForm" [class.shrimp-form]="edit === true" [class.hidden]="edit === false"
  (ngSubmit)="editShrimp(editShrimpForm.value)">
  <label class="id" for="id">id</label>
  <input class="id" type="number" name="id" id="id" [(ngModel)]="id" />

  <label for="name">Name</label>
  <input type="text" name="name" id="name" [(ngModel)]="name" />

  <label for="image">Image</label>
  <input type="url" name="image" id="image" [(ngModel)]="image" />

  <button type="submit" class="" value="Edit Shrimp">Edit</button>
  <button (click)="onDeleteShrimp()">Delete</button>
</form>
<div class="icon-container" *ngIf="!edit" (click)="toggleEdit()"><i class="fa-solid fa-fish"></i></div>
