<div class="shrimp-listing">
  <ik-image class="shrimp-image" src={{image}}></ik-image>
  <div class="shrimp-name">
    <p>{{name}}</p>
    <button (click)="onDeleteShrimp()">Delete</button>
  </div>
</div>

<form #editShrimpForm="ngForm" class="shrimp-form" (ngSubmit)="editShrimp(editShrimpForm.value)">
  <label class="id" for="id">id</label>
  <input class="id" type="number" name="id" id="id" [(ngModel)]="id" />

  <label for="name">Name</label>
  <input type="text" name="name" id="name" [(ngModel)]="name" />

  <label for="image">Image</label>
  <input type="url" name="image" id="image" [(ngModel)]="image" />

  <input type="submit" value="Edit Shrimp" />
</form>
