header {
  padding-bottom: 20px;
}

.shrimp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

img, li, p{
max-width: 100%;
text-align: center;
padding: 10px;
}

.shrimp-data {
  text-align: center;
    font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .card-body {
    padding: 1rem 1.5rem;
    //text-align: center;
  }
}
