<form #newShrimpForm="ngForm" [class.shrimp-form]="edit === true" [class.hidden]="edit === false"
  (ngSubmit)="addShrimp(newShrimpForm.value)">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" ngModel />

  <label for="image">Image</label>
  <input type="url" name="image" id="image" ngModel />

  <button type="submit">Add Shrimp to the Database</button>
</form>
<div class="icon-container"><i *ngIf="!edit" (click)="toggleEdit()" class="fa-solid fa-fish">Add Shrimp</i>
</div>
