button {
  display: inline-block;
  font-family: exo;
  font-weight: 400;
  text-align: center;
  padding: 0.35rem 1.2em;
  border: 0.1em solid #FFF;
  margin: 0 0.3rem 0.3rem 0;
  border: radius 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  color: #FFF;
  background-color: #004870FF;
}

form {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 40px;
}

.icon-container:hover {
  opacity:0.9;

}

input,
label {
  padding: 5px;
}

.hidden{
  display: none;
}
