<h1>Shrimps</h1>
<div class="card">
  <div class="card-head">The Shrimp Store - Shrimps</div>
  <div class="card-body">
    Welcome to The Shrimp Store Shrimps Page!
  </div>
</div>
<div class="card">
  <div class="card-head">The Shrimp Store - Shrimps 2</div>
  <div class="card-body">
    Welcome to The Shrimp Store Shrimps Page!
  </div>
</div>
<div class="card">
  <div class="card-head">The Shrimp Store - Shrimps 3</div>
  <div class="card-body">
    Welcome to The Shrimp Store Shrimps Page!
  </div>
</div>
<div class="card">
  <div class="card-head">The Shrimp Store - Shrimps 4</div>
  <div class="card-body">
    Welcome to The Shrimp Store Shrimps Page!
  </div>
</div>
