<h1>Shrimp Library</h1>
<div class="card">
  <div class="card-head">Neocaridinia Davidi</div>
  <div class="card-body">
    <a routerLink="shrimp-details">
      <ik-image path="shrimp/red-cherry-shrimp_YkDDNb4C3.jpg"></ik-image>
    </a>
  </div>
</div>
<div class="card">
  <div class="card-head">Caridinia Cantonensis</div>
  <div class="card-body">
    <a routerLink="shrimp-details">
      <ik-image path="shrimp/crystal-red-shrimp1_-4Gd1EEpR.jpg"></ik-image>
    </a>
  </div>
</div>
<div class="card">
  <div class="card-head">Caridinia Multidentata</div>
  <div class="card-body">
    <a routerLink="shrimp-details">
      <ik-image path="shrimp/amano-shrimp_qytw0S9ohO.jpg"></ik-image>
    </a>
  </div>
</div>
<div class="card">
  <div class="card-head">Caridinia Dennerli</div>
  <div class="card-body">
    <a routerLink="shrimp-details">
      <ik-image path="shrimp/galaxy-sulawesi_FVAEHMzx1.jpg"></ik-image>
    </a>
  </div>
</div>
