@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: releative;
  font-family: 'Roboto', sans-serif;
}
